# Lab Assignment 4

Navigate over to ESPN's website for NHL Historic Player Points Statistics ( https://www.espn.com/nhl/stats?season=2015&seasontype=2), for the years 2014-2015. This page has a table on it with a few stats we're interested in obtaining. But it's a bit messy! Clean it up for us, using the appropriate commands to:

Load up the table on just this page into a Pandas dataframe. No need to worry about the other pages!
Rename the columns so that they match the column definitions on the website.
Get rid of (drop) any erroneous rows that has at least 4 NANs in them.
Get rid of the RK column.
Ensure there are no nan "holes" in your index.
Check the dtypes of all columns, and ensure those that should be numeric are numeric.

In [1]:
import pandas as pd
import numpy as np

In [9]:
nhl = pd.read_csv('NHL_2014-15.csv', sep=',')
nhl.head(5)

,RK,NAME,POS,GP,G,A,PTS,plus_minus,PIM,TOI/G,...,S,S%,SHFT,GWG,FW,FL,FO%,SOA,SOG,SO%
0,1,Jamie BennDAL,LW,82,35,52,87,1,64,19:56,...,253,13.8,"2,224",6,298,278,51.7,4,1,25.0
1,2,John TavaresNYI,C,82,38,48,86,5,46,20:40,...,278,13.7,"1,851",8,753,689,52.2,11,3,27.3
2,3,Sidney CrosbyPIT,C,77,28,56,84,5,47,19:58,...,237,11.8,"1,924",3,797,800,49.9,9,5,55.6
3,4,Alex OvechkinWSH,LW,81,53,28,81,10,58,20:19,...,395,13.4,"1,816",11,2,3,40.0,8,2,25.0
4,4,Jakub VoracekPHI,RW,82,22,59,81,1,78,18:35,...,221,10.0,"1,944",3,6,3,66.7,12,5,41.7

Get rid of the 'RK' column:

In [10]:
nhl = nhl.drop(columns = ['RK']) # or nhl.drop(0)
nhl = nhl.reset_index(drop=True)
nhl.head(5)

,NAME,POS,GP,G,A,PTS,plus_minus,PIM,TOI/G,PPG,...,S,S%,SHFT,GWG,FW,FL,FO%,SOA,SOG,SO%
0,Jamie BennDAL,LW,82,35,52,87,1,64,19:56,10,...,253,13.8,"2,224",6,298,278,51.7,4,1,25.0
1,John TavaresNYI,C,82,38,48,86,5,46,20:40,13,...,278,13.7,"1,851",8,753,689,52.2,11,3,27.3
2,Sidney CrosbyPIT,C,77,28,56,84,5,47,19:58,10,...,237,11.8,"1,924",3,797,800,49.9,9,5,55.6
3,Alex OvechkinWSH,LW,81,53,28,81,10,58,20:19,25,...,395,13.4,"1,816",11,2,3,40.0,8,2,25.0
4,Jakub VoracekPHI,RW,82,22,59,81,1,78,18:35,11,...,221,10.0,"1,944",3,6,3,66.7,12,5,41.7

Check the data type of all columns, and ensure those that should be numeric are numeric.

In [11]:
# fixing some strings: replacing the , to a '' and adding the seconds to the time at column TOI/G
nhl.SHFT = nhl['SHFT'].str.replace(',','')
nhl['TOI/G'] = nhl['TOI/G'] + ':00'
nhl.head(5)

,NAME,POS,GP,G,A,PTS,plus_minus,PIM,TOI/G,PPG,...,S,S%,SHFT,GWG,FW,FL,FO%,SOA,SOG,SO%
0,Jamie BennDAL,LW,82,35,52,87,1,64,19:56:00,10,...,253,13.8,2224,6,298,278,51.7,4,1,25.0
1,John TavaresNYI,C,82,38,48,86,5,46,20:40:00,13,...,278,13.7,1851,8,753,689,52.2,11,3,27.3
2,Sidney CrosbyPIT,C,77,28,56,84,5,47,19:58:00,10,...,237,11.8,1924,3,797,800,49.9,9,5,55.6
3,Alex OvechkinWSH,LW,81,53,28,81,10,58,20:19:00,25,...,395,13.4,1816,11,2,3,40.0,8,2,25.0
4,Jakub VoracekPHI,RW,82,22,59,81,1,78,18:35:00,11,...,221,10.0,1944,3,6,3,66.7,12,5,41.7

In [17]:
# fixing the data types:  converting objetc to numeric and time type
print(nhl.dtypes)

nhl.SHFT = pd.to_numeric(nhl.SHFT, errors='coerce')
nhl.FW = pd.to_numeric(nhl.FW, errors='coerce')
# Time On Ice Per Game (TOI/G)
nhl['TOI/G'] = pd.to_timedelta(nhl['TOI/G'], errors='coerce')

print(nhl.dtypes)
nhl.head(5)

NAME                   object
POS                    object
GP                      int64
G                       int64
A                       int64
PTS                     int64
plus_minus              int64
PIM                     int64
TOI/G         timedelta64[ns]
PPG                     int64
PPA                     int64
S                       int64
S%                    float64
SHFT                    int64
GWG                     int64
FW                    float64
FL                      int64
FO%                   float64
SOA                     int64
SOG                     int64
SO%                   float64
dtype: object
NAME                   object
POS                    object
GP                      int64
G                       int64
A                       int64
PTS                     int64
plus_minus              int64
PIM                     int64
TOI/G         timedelta64[ns]
PPG                     int64
PPA                     int64
S                       int64
S%                    float64
SHFT                    int64
GWG                     int64
FW                    float64
FL                      int64
FO%                   float64
SOA                     int64
SOG                     int64
SO%                   float64
dtype: object

,NAME,POS,GP,G,A,PTS,plus_minus,PIM,TOI/G,PPG,...,S,S%,SHFT,GWG,FW,FL,FO%,SOA,SOG,SO%
0,Jamie BennDAL,LW,82,35,52,87,1,64,19:56:00,10,...,253,13.8,2224,6,298.0,278,51.7,4,1,25.0
1,John TavaresNYI,C,82,38,48,86,5,46,20:40:00,13,...,278,13.7,1851,8,753.0,689,52.2,11,3,27.3
2,Sidney CrosbyPIT,C,77,28,56,84,5,47,19:58:00,10,...,237,11.8,1924,3,797.0,800,49.9,9,5,55.6
3,Alex OvechkinWSH,LW,81,53,28,81,10,58,20:19:00,25,...,395,13.4,1816,11,2.0,3,40.0,8,2,25.0
4,Jakub VoracekPHI,RW,82,22,59,81,1,78,18:35:00,11,...,221,10.0,1944,3,6.0,3,66.7,12,5,41.7